/* style to header-component */

.navbar-nav{
  margin: auto
}
.navbar-nav .nav-item .nav-link{
  margin: 0px 10px
}
.navbar-nav .nav-item{
font-family: "Playfair Display";
  font-size: 16px;
  line-height: 21px;
}
.navbar-nav .active > .nav-link{
color: #E0AD1E  !important ;
;
}
 
